<div class="blog_header p-5 text-light bg-dark d-flex align-items-center justify-content-center" style="height: 15rem">
  <div class="row">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">Maritime Professional Training</h1>
        <p class="lead mb-0">Maritime professional's community in Bangladesh</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="Language-course mt-4 p-2">
    <div class="row">
      <div class="col">
        <h2>Language Learning</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 p-2">
        <a class="text-decoration-none" href="#">
          <div class="card  mb-2">
            <!-- <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                 alt="Card image cap"> -->

            <div class="bg-image hover-zoom">
              <%= image_tag "courses/courses_1 (1).jpg", class: "card-img-top" %>
            </div>
            <div class="card-body">
              <h5 class="card-title text-dark"> German language </h5>
            </div>
            <div class="card-footer d-flex d-flex justify-content-between">
              <h4 class="text-dark">500 BDT</h4>
              <a href="#" class="text-decoration-none fw-bold">See Details</a>
            </div>
          </div>
        </a>
      </div>




      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 p-2">
        <a class="text-decoration-none" href="#">
          <div class="card  mb-2">
            <!-- <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                 alt="Card image cap"> -->

            <div class="bg-image hover-zoom">
              <%= image_tag "courses/courses_1 (2).jpg", class: "card-img-top" %>
            </div>
            <div class="card-body">
              <h5 class="card-title text-dark"> German language </h5>
            </div>
            <div class="card-footer d-flex d-flex justify-content-between">
              <h4 class="text-dark">500 BDT</h4>
              <a href="#" class="text-decoration-none fw-bold">See Details</a>
            </div>
          </div>
        </a>
      </div>


      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 p-2">
        <a class="text-decoration-none" href="#">
          <div class="card  mb-2">
            <!-- <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                 alt="Card image cap"> -->

            <div class="bg-image hover-zoom">
              <%= image_tag "courses/courses_1 (3).jpg", class: "card-img-top" %>
            </div>
            <div class="card-body">
              <h5 class="card-title text-dark"> German language </h5>
            </div>
            <div class="card-footer d-flex d-flex justify-content-between">
              <h4 class="text-dark">500 BDT</h4>
              <a href="#" class="text-decoration-none fw-bold">See Details</a>
            </div>
          </div>
        </a>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 p-2">
        <a class="text-decoration-none" href="#">
          <div class="card  mb-2">
            <!-- <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                 alt="Card image cap"> -->

            <div class="bg-image hover-zoom">
              <%= image_tag "courses/courses_1 (4).jpg", class: "card-img-top" %>
            </div>
            <div class="card-body">
              <h5 class="card-title text-dark"> German language </h5>
            </div>
            <div class="card-footer d-flex d-flex justify-content-between">
              <h4 class="text-dark">500 BDT</h4>
              <a href="#" class="text-decoration-none fw-bold">See Details</a>
            </div>
          </div>
        </a>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 p-2">
        <a class="text-decoration-none" href="#">
          <div class="card  mb-2">
            <!-- <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                 alt="Card image cap"> -->

            <div class="bg-image hover-zoom">
              <%= image_tag "courses/courses_1 (5).jpg", class: "card-img-top" %>
            </div>
            <div class="card-body">
              <h5 class="card-title text-dark"> German language </h5>
            </div>
            <div class="card-footer d-flex d-flex justify-content-between">
              <h4 class="text-dark">500 BDT</h4>
              <a href="#" class="text-decoration-none fw-bold">See Details</a>
            </div>
          </div>
        </a>
      </div>

    </div>

  </div>

  <div class="professional-training mt-4 p-2">
    <div class="row">
      <div class="col">
        <h2>Professional Training</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 p-2">
        <a class="text-decoration-none" href="#">
          <div class="card  mb-2">
            <!-- <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                 alt="Card image cap"> -->

            <div class="bg-image hover-zoom">
              <%= image_tag "courses/courses_1 (6).jpg", class: "card-img-top" %>
            </div>
            <div class="card-body">
              <h5 class="card-title text-dark"> German language </h5>
            </div>
            <div class="card-footer d-flex d-flex justify-content-between">
              <h4 class="text-dark">500 BDT</h4>
              <a href="#" class="text-decoration-none fw-bold">See Details</a>
            </div>
          </div>
        </a>
      </div>




      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 p-2">
        <a class="text-decoration-none" href="#">
          <div class="card  mb-2">
            <!-- <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                 alt="Card image cap"> -->

            <div class="bg-image hover-zoom">
              <%= image_tag "courses/courses_1 (7).jpg", class: "card-img-top" %>
            </div>
            <div class="card-body">
              <h5 class="card-title text-dark"> German language </h5>
            </div>
            <div class="card-footer d-flex d-flex justify-content-between">
              <h4 class="text-dark">500 BDT</h4>
              <a href="#" class="text-decoration-none fw-bold">See Details</a>
            </div>
          </div>
        </a>
      </div>


      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 p-2">
        <a class="text-decoration-none" href="#">
          <div class="card  mb-2">
            <!-- <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                 alt="Card image cap"> -->

            <div class="bg-image hover-zoom">
              <%= image_tag "courses/courses_1 (8).jpg", class: "card-img-top" %>
            </div>
            <div class="card-body">
              <h5 class="card-title text-dark"> German language </h5>
            </div>
            <div class="card-footer d-flex d-flex justify-content-between">
              <h4 class="text-dark">500 BDT</h4>
              <a href="#" class="text-decoration-none fw-bold">See Details</a>
            </div>
          </div>
        </a>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 p-2">
        <a class="text-decoration-none" href="#">
          <div class="card  mb-2">
            <!-- <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                 alt="Card image cap"> -->

            <div class="bg-image hover-zoom">
              <%= image_tag "courses/courses_1 (9).jpg", class: "card-img-top" %>
            </div>
            <div class="card-body">
              <h5 class="card-title text-dark"> German language </h5>
            </div>
            <div class="card-footer d-flex d-flex justify-content-between">
              <h4 class="text-dark">500 BDT</h4>
              <a href="#" class="text-decoration-none fw-bold">See Details</a>
            </div>
          </div>
        </a>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 p-2">
        <a class="text-decoration-none" href="#">
          <div class="card  mb-2">
            <!-- <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                 alt="Card image cap"> -->

            <div class="bg-image hover-zoom">
              <%= image_tag "courses/courses_1 (10).jpg", class: "card-img-top" %>
            </div>
            <div class="card-body">
              <h5 class="card-title text-dark"> German language </h5>
            </div>
            <div class="card-footer d-flex d-flex justify-content-between">
              <h4 class="text-dark">500 BDT</h4>
              <a href="#" class="text-decoration-none fw-bold">See Details</a>
            </div>
          </div>
        </a>
      </div>

    </div>

  </div>
</div>