<header>
  <!-- This div is  intentionally blank. It creates the transparent black overlay over the video which you can modify in the CSS -->
  <div class="overlay"></div>
  <!-- The HTML5 video element that will create the background video on the header -->
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://ak.picdn.net/shutterstock/videos/1047211636/preview/stock-footage-aerial-of-smart-cargo-ship-carrying-container-and-running-for-export-goods-from-cargo-yard-port.webm" type="video/mp4">
  </video>
  <!-- The header content -->
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">Society of Marine Engineer's Bangladesh</h1>
        <p class="lead mb-0">Maritime professional's community</p>
      </div>
    </div>
  </div>
</header>

<section class="my-5 shadow-none">
    <div class="course-section d-flex justify-content-center">
      <h3 class="p-2">Society of Marine Engineers Bangladesh</h3>
    </div>
    <div class="course-anouchment">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <h6 class="text-center">This is a platform for professional MARINE ENGINEERS from Bangladesh. We provide services to the Ship and Power Plant owners to find appropriate personnel for their needs as well as to the related industries such as Ship Yards, Engine and Auxiliary Machinery (ship and power plants) manufacturers/ service providers/ users.</h6>
        </div>
      </div>
    </div>
</section>

<!-- Our partners section -->
<section class="shadow p-3 mb-5 bg-body rounded">
  <div class="container">
    <div class="our-partners-header d-flex justify-content-center">
      <h1>Our Partners</h1>
    </div>
  </div>

  <div class="our-partners-log-section container">
    <div class="row">
      <div class="col-lg-3 justify-content-center d-none d-lg-flex">
        <a href="#">
          <%= image_tag "our partners/1-bd-marine-academy.jpg", class: "rounded img-thumbnail p-3 m-3", style: "height:200px; width:200px " %>
        </a>
      </div>

      <div class="col-lg-3 justify-content-center d-none d-lg-flex">
        <a href="#">
          <%= image_tag "our partners/2-bd-nevy.png", class: "rounded img-thumbnail p-3 m-3", style: "height:200px; width:200px " %>
        </a>
      </div>

      <div class="col-lg-3 justify-content-center d-none d-lg-flex">
        <a href="#">
          <%= image_tag "our partners/3-bimt.jpg", class: "rounded img-thumbnail p-3 m-3", style: "height:200px; width:200px " %>
        </a>
      </div>

      <div class="col-lg-3 justify-content-center d-none d-lg-flex">
        <a href="#">
          <%= image_tag "our partners/6-Marine_fisheries_academy.jpg", class: "rounded img-thumbnail p-3 m-3", style: "height:200px; width:200px " %>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 d-flex justify-content-center">
        <a href="#">
          <%= image_tag "our partners/5-man.jpg", class: "rounded img-thumbnail p-3 m-3", style: "height:200px; width:200px " %>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 d-flex justify-content-center">
        <a href="#">
          <%= image_tag "our partners/4-sembcorp-marine-admiralty-yard.png", class: "rounded img-thumbnail p-3 m-3", style: "height:200px; width:200px " %>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 d-flex justify-content-center">
        <a href="#">
          <%= image_tag "our partners/7-wartsila.jpeg", class: "rounded img-thumbnail p-3 m-3", style: "height:200px; width:200px " %>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 d-flex justify-content-center">
        <a href="#">
          <%= image_tag "our partners/8-keppel-shipyard-limited.jpg", class: "rounded img-thumbnail p-3 m-3", style: "height:200px; width:200px " %>
        </a>
      </div>

    </div>

  </div>

</section>

<!-- Page section example for content below the video header -->
<section class="my-5 shadow-none">
  <div class="container">
    <div class="course-section d-flex justify-content-center">
      <h2 class="p-2">Maritime Professional Training</h2>
    </div>
    <div class="course-anouchment">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <h6 class="text-center">We offer the most up to date computer science tracks in the world, because we work
            with top employers and update them every 90 days.</h6>
          <h6 class="text-center">Our courses are designed to teach you through deep hands on learning to get you into
            the job market in the career of your dreams, with the help you need to understand and stay motivated every
            step of the way.</h6>
        </div>
        <div class="course-choose-button">
          <div class="row p-3">
            <div class="d-flex justify-content-center">
              <button type="button" class="btn btn-primary">Choose your course</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Course schedule section  -->
<section class="my-5 shadow-lg p-5 mb-5 text-light bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 p-3 col-md-6 col-sm-12 d-flex justify-content-center">
        <div>
          <h4>Full Time Online</h4>
          <h5 class="text-success">12 Weeks</h5>

          <h6 class="text-success">9am to 5pm + after hours</h6>
          <h6>
            Class Hours: 600+ <br>
            Daily instructor led class time <br>
            Attend remotely <br>
            Financing Available <br>
          </h6>
        </div>
      </div>

      <div class="col-lg-6 p-3 col-md-6 col-sm-12 d-flex justify-content-center">
        <div>
          <h4>Part Time Online</h4>
          <h5 class="text-success">40 weeks</h5>

          <h6 class="text-success">2-3 hours per day</h6>
          <h6>
            Class Hours: 600+ <br>
            Unlimited online TA assistance <br>
            Guided online learning path<br>
            Financing Available<br>
          </h6>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Page section example for content below the video header -->
<section class="my-5 shadow-none">
  <div class="container">
    <div class="course-section d-flex justify-content-center">
      <h2 class="p-2">Keep your day job, learn part time</h2>
    </div>
    <div class="course-anouchment">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <h6 class="text-center">Can’t attend full time? Learn anytime anywhere with our part time online program. We
            built a game changing online learning software to guide you to success.</h6>
          <h6 class="text-center">See your progress, mix and match skill based learning, all with instructors and access
            to mentors for when you get stuck.</h6>
        </div>
        <div class="course-choose-button">
          <div class="row p-3">
            <div class="d-flex justify-content-center">
              <button type="button" class="btn btn-primary">Learn More</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="my-5 shadow-lg p-3 mb-5">
  <div class="container">
    <div class="row">
      <!-- Carousel wrapper -->
      <section>
        <div class="row d-flex justify-content-center">
          <div class="col-md-10 col-xl-8 text-center">
            <h3 class="mb-4 p-4">Testimonials</h3>
            <p class="mb-4 pb-2 mb-md-5 pb-md-0">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet
              numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum
              quisquam eum porro a pariatur veniam.
            </p>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-md-4 mb-5 mb-md-0">
            <div class="d-flex justify-content-center mb-4">
              <%= image_tag "feedback/feedback_3.jpg", class: "rounded-circle shadow-1-strong", style: "height:150px;width:150px" %>

            </div>
            <h5 class="mb-3">S M Salman Shah</h5>
            <h6 class="text-primary mb-3">Ex Marine Cadet</h6>
            <p class="px-xl-3">
              <i class="fas fa-quote-left pe-2"></i>Lorem ipsum dolor sit amet, consectetur
              adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab hic
              tenetur.
            </p>
            <ul class="list-unstyled d-flex justify-content-center mb-0">
              <li>
                <i class="fas fa-star fa-sm text-warning"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-warning"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-warning"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-warning"></i>
              </li>
              <li>
                <i class="fas fa-star-half-alt fa-sm text-warning"></i>
              </li>
            </ul>
          </div>
          <div class="col-md-4 mb-5 mb-md-0">
            <div class="d-flex justify-content-center mb-4">
              <%= image_tag "feedback/feedback_4.jpg", class: "rounded-circle shadow-1-strong", style: "height:150px;width:150px" %>
            </div>
            <h5 class="mb-3">Lisa Cudrow</h5>
            <h6 class="text-primary mb-3">Ex Marine Cadet</h6>
            <p class="px-xl-3">
              <i class="fas fa-quote-left pe-2"></i>Ut enim ad minima veniam, quis nostrum
              exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid commodi.
            </p>
            <ul class="list-unstyled d-flex justify-content-center mb-0">
              <li>
                <i class="fas fa-star fa-sm text-warning"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-warning"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-warning"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-warning"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-warning"></i>
              </li>
            </ul>
          </div>
          <div class="col-md-4 mb-0">
            <div class="d-flex justify-content-center mb-4">
              <%= image_tag "feedback/feedback_5.jpg", class: "rounded-circle shadow-1-strong", style: "height:150px;width:150px" %>
            </div>
            <h5 class="mb-3">John Smith</h5>
            <h6 class="text-primary mb-3">Merchant navy</h6>
            <p class="px-xl-3">
              <i class="fas fa-quote-left pe-2"></i>At vero eos et accusamus et iusto odio
              dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.
            </p>
            <ul class="list-unstyled d-flex justify-content-center mb-0">
              <li>
                <i class="fas fa-star fa-sm text-warning"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-warning"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-warning"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-warning"></i>
              </li>
              <li>
                <i class="far fa-star fa-sm text-warning"></i>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <!-- Carousel wrapper -->
    </div>
  </div>
</section>


<section class="shadow-none p-4 bg-dark rounded">

  <div class="row">
    <div class="col d-flex justify-content-center p-4">
      <h1 class="text-light">Recect Blog Post</h1>
    </div>
  </div>

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>

      <div class="container">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <!-- <img src="..." class="d-block w-100" alt="..."> -->
            <div class="row">
              <div class="col-md-4">
                <div class="card mb-2">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="Card image cap">
                  <div class="card-body">
                    <a class="text-decoration-none" href="">
                      <h5 class="card-title"> <%= image_tag 'author/1-author.jpg', class: "rounded-circle", style: "height:30px;width:30px" %> Rahman Habib</h5>
                    </a>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a class="btn btn-primary">Button</a>
                  </div>
                </div>
              </div>

              <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card mb-2">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                       alt="Card image cap">
                  <div class="card-body">
                    <a class="text-decoration-none" href="">
                      <h5 class="card-title"> <%= image_tag 'author/2-author.jpg', class: "rounded-circle", style: "height:30px;width:30px" %> Rahman Habib</h5>
                    </a>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a class="btn btn-primary">Button</a>
                  </div>
                </div>
              </div>

              <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card mb-2">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
                       alt="Card image cap">
                  <div class="card-body">
                    <a class="text-decoration-none" href="">
                      <h5 class="card-title"> <%= image_tag 'author/3-author.png', class: "rounded-circle", style: "height:30px;width:30px" %> Rahman Habib</h5>
                    </a>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a class="btn btn-primary">Button</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="carousel-item">
            <!-- <img src="..." class="d-block w-100" alt="..."> -->
            <div class="row">
              <div class="col-md-4">
                <div class="card mb-2">
                  <!-- <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                       alt="Card image cap"> -->
                  <%= image_tag "carousel-1.jpg", class: "card-img-top" %>
                  <div class="card-body">
                    <a class="text-decoration-none" href="">
                      <h5 class="card-title"> <%= image_tag 'author/1-author.jpg', class: "rounded-circle", style: "height:30px;width:30px" %> Rahman Habib</h5>
                    </a>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a class="btn btn-primary">Button</a>
                  </div>
                </div>
              </div>

              <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card mb-2">
                  <!-- <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                       alt="Card image cap"> -->
                  <%= image_tag "carousel-2.jpg", class: "card-img-top" %>
                  <div class="card-body">
                    <a class="text-decoration-none" href="">
                      <h5 class="card-title"> <%= image_tag 'author/2-author.jpg', class: "rounded-circle", style: "height:30px;width:30px" %> Rahman Habib</h5>
                    </a>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a class="btn btn-primary">Button</a>
                  </div>
                </div>
              </div>

              <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card mb-2">
                  <!-- <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                       alt="Card image cap"> -->
                  <%= image_tag "carousel-3.jpg", class: "card-img-top" %>
                  <div class="card-body">
                    <a class="text-decoration-none" href="">
                      <h5 class="card-title"> <%= image_tag 'author/3-author.png', class: "rounded-circle", style: "height:30px;width:30px" %> Rahman Habib</h5>
                    </a>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a class="btn btn-primary">Button</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <!-- <img src="..." class="d-block w-100" alt="..."> -->
            <div class="row">
              <div class="col-md-4">
                <div class="card mb-2">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                       alt="Card image cap">
                  <div class="card-body">
                    <a class="text-decoration-none" href="">
                      <h5 class="card-title"> <%= image_tag 'author/1-author.jpg', class: "rounded-circle", style: "height:30px;width:30px" %> Rahman Habib</h5>
                    </a>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a class="btn btn-primary">Button</a>
                  </div>
                </div>
              </div>

              <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card mb-2">
                  <!-- <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                       alt="Card image cap"> -->
                  <%= image_tag "carousel-1.jpg", class: "card-img-top" %>
                  <div class="card-body">
                    <a class="text-decoration-none" href="">
                      <h5 class="card-title"> <%= image_tag 'author/2-author.jpg', class: "rounded-circle", style: "height:30px;width:30px" %> Rahman Habib</h5>
                    </a>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a class="btn btn-primary">Button</a>
                  </div>
                </div>
              </div>

              <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card mb-2">
                  <!-- <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                       alt="Card image cap"> -->
                  <%= image_tag "carousel-3.jpg", class: "card-img-top" %>
                  <div class="card-body">
                    <a class="text-decoration-none" href="">
                      <h5 class="card-title"> <%= image_tag 'author/3-author.png', class: "rounded-circle", style: "height:30px;width:30px" %> Rahman Habib</h5>
                    </a>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a class="btn btn-primary">Button</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>

      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>

      </button>

    </div>

</section>


<section class="team text-center py-5">
  <div class="container">
    <div class="header my-5">
      <h1>Meet our Team </h1>
      <p class="text-muted">Meet and Greet our Team Members</p>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="img-block mb-5">
          <%= image_tag "team/team_2.jpg", class: "img-fluid  img-thumbnail rounded-circle", style: "height:200px;width:200px" %>
          <div class="content mt-2">
            <h4>Quamar uz Zaman</h4>
            <p class="text-muted">Director, Power Generation</p>
            <div class="text-muted">
              <a href="#" class="me-4 text-decoration-none">
                <i class="fa-brands fa-facebook"></i>
              </a>
              <a href="" class="me-4 text-decoration-none">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="" class="me-4 text-decoration-none">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="" class="me-4 text-decoration-none">
                <i class="fab fa-linkedin"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 ">
        <div class="img-block mb-5">
          <%= image_tag "team/team_4.jpg", class: "img-fluid  img-thumbnail rounded-circle", style: "height:200px;width:200px" %>
          <div class="content mt-2">
            <h4>AK Azad</h4>
            <p class="text-muted">General Manager</p>
            <div class="text-muted">
              <a href="#" class="me-4 text-decoration-none">
              <i class="fa-brands fa-facebook"></i>
            </a>
              <a href="" class="me-4 text-decoration-none">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="" class="me-4 text-decoration-none">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="" class="me-4 text-decoration-none">
                <i class="fab fa-linkedin"></i>
              </a>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="img-block mb-5">
          <%= image_tag "team/team_5.jpg", class: "img-fluid  img-thumbnail rounded-circle", style: "height:200px;width:200px" %>
          <div class="content mt-2">
            <h4>Golam Sarawer Evan</h4>
            <p class="text-muted">Business development secretary</p>
            <div class="text-muted">
              <a href="#" class="me-4 text-decoration-none">
                <i class="fa-brands fa-facebook"></i>
              </a>
              <a href="" class="me-4 text-decoration-none">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="" class="me-4 text-decoration-none">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="" class="me-4 text-decoration-none">
                <i class="fab fa-linkedin"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="img-block mb-5">
          <%= image_tag "team/team_6.jpg", class: "img-fluid  img-thumbnail rounded-circle", style: "height:200px;width:200px" %>
          <div class="content mt-2">
            <h4>Nikhil Chakma</h4>
            <p class="text-muted">Shift Incharge Operation</p>
            <div class="text-muted">
              <a href="#" class="me-4 text-decoration-none">
                <i class="fa-brands fa-facebook"></i>
              </a>
              <a href="" class="me-4 text-decoration-none">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="" class="me-4 text-decoration-none">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="" class="me-4 text-decoration-none">
                <i class="fab fa-linkedin"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- credits: https://bootstrapcrew.com/snippets/team-members/ -->

<!-- Back to top button -->
<button type="button" class="btn btn-danger btn-floating btn-lg" id="btn-back-to-top">
  <i class="fas fa-arrow-up"></i>
</button>

<script>
    //Get the button
    let mybutton = document.getElementById("btn-back-to-top");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction();
    };

    function scrollFunction() {
        if (
            document.body.scrollTop > 20 ||
            document.documentElement.scrollTop > 20
        ) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }
    // When the user clicks on the button, scroll to the top of the document
    mybutton.addEventListener("click", backToTop);

    function backToTop() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>






